/* Class Selectors */
body {
    background-color: white;
    font-family: Helvetica, sans-serif;
}

header {
    text-align: center;
}

/* ID Selectors */
#website-links {
    color: navy;
}

/* Combined Selectors */
a:hover {
    color: navy;
}

