body {
    margin: 0px;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/* --------- NAVBAR --------- */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    background-color: #32604c;
    min-height: 64px;
}

.navbar a{ /* BUTTON */
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 128px;
    padding: 5px;
    transition: background-color 0.2s ease;
    text-decoration: none;
    color: #e0e0e0;
}

.navbar a:hover{
    background-color: #4c7362;
}

.navbar a:active{
    outline: none;
}

/* --------- PRICING CARDS --------- */
.container {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 200px;
    height: 200px;
    margin: 5px;

    border: 2px solid black;
    border-radius: 24px;
    text-align: center;
}

.featured {
    width: 300px;
}  