body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* --------- NAVBAR LINKS ---------*/
a {
    text-decoration: none;
}

a:focus {
    border: 2px solid red;
}

a:hover {
    color: red;
}

/* --------- NAVBAR --------- */
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: pink;
}