body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    color: hsl(30, 10%, 34%); /* Stone 600*/
    background-color: hsl(30, 54%, 90%); /* Stone 100 */
}

h1 {
    font-family: 'Young Serif', serif;
    color: hsl(24, 5%, 18%); /* Stone 900 */
    font-weight: 400;
    font-size: 40px;
}

h2 {
    font-family: 'Young Serif', serif;
    color: hsl(14, 45%, 36%); /* Brown 800 */
    font-weight: 400;
    font-size: 28px;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 660px;
    padding: 40px;
    font-size: 16px;
    border-radius: 18px;
    margin: 40px;
}

.recipe-section {
    width: 100%;
}

.image-omelette {
    width: 100%;
    border-radius: 12px;
}


.preparation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(330, 100%, 98%); /* Rose 50 */
    padding: 1.25em 1.5em;
    border-radius: 12px;
}

.preparation h2 {
    color: hsl(332, 51%, 32%); /* Rose 800 */
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 1.4em;
    margin: 0;
    padding-top: 0.25em;
}

.preparation li::marker {
    color: hsl(332, 51%, 32%);
}

.preparation li {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    list-style-type: disc;
}


b {
    font-weight: 600;
}


li {
    padding: 0.5em 0 0.5em 1.25em;
}

ul {
    margin-left: -15px;
    list-style-type: square;
}
ul li::marker {
    color: hsl(14, 45%, 36%); /* Brown 800 */
    font-size: 0.8em;
}

ol {
    margin-left: -15px;
}
ol li::marker {
    color: hsl(14, 45%, 36%); /* Brown 800 */
    font-weight: 600;
}

hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid hsl(30, 18%, 87%); /* Stone 150 */
    margin: 1em 0;
    padding: 0;
}


table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

td {
    padding: 0.75em;
    padding-left: 2em;
}

.nutrition-bottom-row {
    border-bottom: none;
}

.nutrition-value {
    font-weight: 700;
    color: hsl(14, 45%, 36%); /* Brown 800 */
}