body {
    font-family: 'Outfit', sans-serif;
    color: hsl(30, 10%, 34%); /* Stone 600*/
    background-color: hsl(30, 54%, 90%); /* Stone 100 */
}

h1 {
    font-family: 'Young Serif', serif;
    color: hsl(24, 5%, 18%); /* Stone 900 */
    font-weight: 400;
}

h2 {
    font-family: 'Young Serif', serif;
    color: hsl(14, 45%, 36%); /* Brown 800 */
    font-weight: 400;
}

p {
    font-size: 16px;
}

b {
    font-weight: 600;
}


ul, ol {
    margin-left: -15px;
}

li {
    padding-left: 14px;
    padding-top: 12px;
}

ol li::marker {
    color: hsl(14, 45%, 36%); /* Brown 800 */
    font-weight: 600;
    font-size: 16px;
}

ul li::marker {
    color: hsl(14, 45%, 36%); /* Brown 800 */
    font-weight: 400;
    font-size: 16px;
}

hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid hsl(30, 18%, 87%); /* Stone 150 */
    margin: 1em 0;
    padding: 0;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 660px;
    padding: 40px;
    line-height: 1.4;
}
