body {
  font-family: "Playwrite DE VA", cursive;
}

img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  filter: contrast(80%)
}

p {

}

.container {
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  min-height: 500px;
  width: 800px;
  align-content: center;
}

.card{
  background-color: rgb(237, 213, 238);;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  align-self: stretch;
  overflow: scroll;
  height: 220px;
  font-size: 14px;
}

#header {
  height: 80px;
  background-color: white;
  grid-column: 1 / 4;
}

#center-card {
  background-color: rgb(232, 206, 247);
  box-sizing: border-box;
  grid-row: 2 / 4;
  grid-column: 2 / 4;
  height: auto;
  padding: 20px;
}