.container {
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 20px;
  min-height: 500px;
  min-width: 600px;
  max-width: 1000px;
  align-content: center;
}

.card{
  background-color: plum;
  padding: 20px;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center; 
  aspect-ratio: 4 / 5;
  align-self: stretch;
}
#header {
  min-height: auto;
  height: 150px;
  background-color: beige;
  grid-column: 1 / 4;
  aspect-ratio: auto;
}

#center-card {
  background-color: teal;
  grid-row: 2 / 4;
  grid-column: 2 / 4;
  height: auto;
}