body {
    font-family: Calibri, sans-serif;
    margin: 15px;
}

h1 {
    text-align: center;
}
.inline {
    display: inline;
    background-color: #ffbfd1;
    color: #911337;
    border: 2px solid #911337;
    padding: 3px;
    margin: 3px;
}

.inline2 {
    display: inline;
    background-color: #911337;
    color: #ffbfd1;
    border: 2px solid #ffbfd1;
    padding: 3px;
    margin: 3px;
}

.block {
    display: block;
    box-sizing: border-box;
    background-color: #e0bfad;
    color: #5c2f17;
    border: 2px solid #5c2f17;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 350px;
    height: 100px;

}

.inline-block1 {
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff0b8;
    color: #7c6140;
    border: 2px solid #7c6140;
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
    width: 400px;
    height: 150px;
}


.inline-block2 {
    display: inline-block;
    box-sizing: border-box;
    background-color: #7c6140;
    color: #fff0b8;
    border: 2px solid #fff0b8;
    border-radius: 5px;
    padding: 30px;
    width: 350px;
    height: 120px;
    margin: 10px;
    
}