body {
    font-family: Calibri, sans-serif;
    margin: 15px;
}

h2 {
    text-align: center;
}
.inline {
    display: inline;
    background-color: #ffbfd1;
    color: #911337;
    border: 2px solid #911337;
    padding: 3px;
    margin: 3px;
}

.inline2 {
    display: inline;
    background-color: #911337;
    color: #ffbfd1;
    border: 2px solid #ffbfd1;
    padding: 3px;
    margin: 3px;
}