
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

p {
    margin-top: 40px;
}

.container {
    display: flex;
    height: 400px;
    width: 300px;
    border: 2px solid black;
    margin: 20px;
    align-items: end;
    justify-content: center;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-340px);
    }
}

@keyframes colorChange {
    0% {
        background-color: rgb(17, 33, 101);
    }
    60% {
        background-color: rgb(91, 241, 141);

    }
    100% {
        background-color: rgb(243, 243, 105);
    }
}

.ball {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: orange;
    animation: bounce 1s ease-out 1s infinite alternate-reverse both running, colorChange 1s ease-out 1s infinite alternate-reverse both running
}

.ball:hover {
    animation-play-state: paused;
}