/* LINK STYLING */
a {
    color: teal;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: orange;
    text-decoration: underline;
    cursor: pointer;
}

a:active{
    color: red;
}

a:focus {
    outline: 2px blue dashed;
    color: blue;
}


/* LIST STYLING */
ul {
    list-style-type: circle;
    padding-left: 20px;
    margin: 10px;
}

ul ul {
    list-style-type: square;
    margin-left: 40px;
}

li:hover {
    background-color: lemonchiffon;
}
/* BACKGROUND */
.background-section {
    background-image: url('fruits.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
}

