/* LINK STYLING */
a {
    color: teal;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: orange;
    text-decoration: underline;
    cursor: pointer;
}

a:focus {
    outline: 2px blue dashed;
    color: blue;
}

a:active{
    outline: 2px red;
    color: red;
}

/* LIST STYLING */
ul {
    list-style-image: linear-gradient(to left bottom, green, red);
    padding-left: 40px;
    margin: 10px;
}

ul ul {
    list-style-image: linear-gradient(to left bottom, yellow, red);
    margin-left: 20px;
}

li:hover {
    background-color: lemonchiffon;
}
/* BACKGROUND */
.background-section {
    background-image: url('fruits.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
}

